.home-container {
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #4facfe, #00f2fe); /* Gradient background */
    color: white; /* Text color */
    padding: 2rem; /* Padding around the container */
    text-align: center; /* Center the text */
  }
  
  h1 {
    font-weight: bold;
  }
  
  h2 {
    font-weight: 300;
  }
  
  .btn-home {
    padding: 10px 30px; /* Increase button padding */
    font-size: 1.2rem; /* Larger font size */
    border-radius: 30px; /* Round buttons */
    transition: background-color 0.3s ease; /* Smooth background transition */
  }
  
  .btn-home:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Change button color on hover */
    color: #000; /* Change text color on hover */
  }
  
  .loading {
    font-size: 1.5rem;
    color: white; /* Loading text color */
    text-align: center;
  }
  
  .error {
    margin-top: 20px;
    color: red; /* Error message color */
  }
  