.home-background {
    background-image: url('https://img.freepik.com/free-vector/purple-color-background-gradient-modern-design-abstract_343694-2150.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    color: white; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
}
  